# Jitsi configuration
JITSI_DOMAIN=meet.example.uz
CONFIG=~/.jitsi-meet-cfg

# JWT auth
JWT_APP_ID=meettrack
JWT_APP_SECRET=CHANGE_ME

# JVB — публичный IP сервера igore-d02 (без NAT)
JVB_ADVERTISE_IPS=130.49.171.90
